<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>

<h2>Все пользователи</h2>

<div>
    <th:block th:each="users : ${allUsers}">
    </th:block>
</div>

<table border="3">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Operations</th>
    </tr>

    <tr th:each="user : ${allUsers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role.name} + '; '"></span>
        </td>

        <td>
            <div>
            <form th:action="@{updateInfo}" method="get" style="display: inline-block;">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <input type="submit" value="Update"/>
            </form>

            <form th:action="@{deleteUser}" method="post" style="display: inline-block;">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <input type="submit" value="Delete"/>
            </form>
            </div>
        </td>

    </tr>
</table>

<br>

<form th:action="@{addNewUser}" method="get">
    <input type="submit" value="Add User"/>
</form>

<br>
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Logout">
</form>

</body>
</html>